<div class="w-full flex items-center flex-col">
  <h1 class="my-5 text-2xl font-semibold">Create new Post</h1>
  <%= form_with model: @post, url: edit_post_path do |form| %>
  <div class="space-y-3">
    <div class="flex flex-col w-80">
      <%= form.label :title %>
      <input
        type="text"
        name="title"
        class="border-2 border-gray-950 outline-none rounded-lg py-2 px-3"
      />
    </div>

    <div class="flex flex-col w-80">
      <%= form.label :description %>
      <textarea
        name="description"
        class="border-2 border-gray-950 outline-none rounded-lg py-2 px-3 resize-none"
      ></textarea>
    </div>

    <div class="flex flex-col w-80 bg-gray-950 text-white py-2 rounded-lg">
      <%= form.submit "Create Post" %>
    </div>
  </div>
  <% end %>
</div>
